html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    text-align: center;
    background-color: #bbeb94;
    align-items: center;
}

img {
    border-radius: 30px;
}



h2 {
    margin-top: 10px;
    padding: 10px;
    color: #0b4405;
    font-family:  'VT323',cursive;
    font-size: 40px;
}

h1{
    margin-top: 10px;
    padding: 10px;
    color: #0b4405;
    font-family: 'VT323', cursive;
    font-size: 40px; 
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    margin: 30px;
}

button {
    background-color: #199f09;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px  
}

button:hover {
    background-color: limegreen;
}

.error {
    color: red; 
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards in the container */
    margin: 40px;
    padding: 10px;
}
.header {
    text-align: center; 
    margin-bottom: 20px; 
}

.game-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 15px;
    width: 350px; 
    text-align: left; /*  inside the cards */
    transition: transform 0.2s;
}

.title , .gameURL{
    text-align: center; /* Center the title */
}

.title{
    font-size: 30px;
}

.gameURL a{
color: aqua;
}
.game-item:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.highlight {
    background-color: #ffeb3b; 
}


@media (min-width: 992px) {
    h4 {
        font-size: 26px;
    }

    button {
        width: auto;
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    h4 {
        font-size: 24px;
    }

    button {
        width: 30%;
        font-size: 15px;
    }
    #header{
        width:380px;
        height:200px;
    }
}

@media (max-width: 572px) {
    h4 {
        font-size: 20px;
    }

    button {
        width: 40%;
        font-size: 14px;
    }
        #header{
        width:380px;
        height:200px;
    }
}